@inject IAppSettings appSetting

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Psicologa";
    ViewData["PaginaTitulo"] = "Serviços";
    ViewData["PaginaTituloMenor"] = "Seu espaço de acolhimento, equilíbrio e desenvolvimento emocional";
    ViewData["Descricao"] = "Portal dedicado ao cuidado com a saúde emocional, atendimentos psicológicos e conteúdos para bem-estar e qualidade de vida.";
    ViewData["BodyPadrao"] = true;
    ViewData["TopoExpandido"] = false;
    ViewData["ExibirTopo"] = true;
}


@section Scripts {

    <script src="~/clientapp/dist/views/servico/Servicos.js?cache=@appSetting.Version"></script>
}


<div id="root"></div>
