@{
    ViewData["Title"] = "Cliente";
    ViewData["PaginaTitulo"] = "Serviços";
    ViewData["Descricao"] = "Serviços Disponíveis";
}

@inject IAppSettings appSetting

@section Scripts{

    <script src="~/clientapp/dist/views/cliente/Servico.js?cache=@appSetting.Version"></script>
}


<div id="root"></div>