@{
    ViewData["Title"] = "Anexos";
    ViewData["PaginaTitulo"] = "Anexos";
    ViewData["Descricao"] = "Gerenciar Anexos";
}

@inject IAppSettings appSetting

@section Scripts{

    <script src="~/clientapp/dist/views/paciente/Anexos.js?cache=@appSetting.Version"></script>
}


<div id="root"></div>