@{
    ViewData["Title"] = "Pacientes";
    ViewData["PaginaTitulo"] = "Pacientes";
    ViewData["Descricao"] = "Cadastre, consulte e acompanhe os dados dos pacientes em atendimento.";
}

@inject IAppSettings appSetting

@section Scripts{

    <script src="~/clientapp/dist/views/paciente/Index.js?cache=@appSetting.Version"></script>
}


<div id="root"></div>