@{
    ViewData["Title"] = "Prontuários";
    ViewData["PaginaTitulo"] = "Prontuários dos Pacientes";
    ViewData["Descricao"] = "Visualize, acompanhe e gerencie os prontuários e históricos clínicos dos pacientes.";
}

@inject IAppSettings appSetting

@section Scripts{

    <script src="~/clientapp/dist/views/paciente/Prontuario.js?cache=@appSetting.Version"></script>
}


<div id="root"></div>