@{
    ViewData["Title"] = "Blog";
    ViewData["PaginaTitulo"] = "📰 Blog";
    ViewData["Descricao"] = "Criação de conteúdo para o blog";
}

@inject IAppSettings appSetting

@section Scripts{

    <script src="~/clientapp/dist/views/blogPost/Index.js?cache=@appSetting.Version"></script>
}

<div id="root"></div>